.button {
    width: 153px;
    height: 32px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}